In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('Ames_outliers_removed.csv')

In [4]:
df.head()

,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2927 entries, 0 to 2926
Data columns (total 81 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PID              2927 non-null   int64
 1   MS SubClass      2927 non-null   int64
 2   MS Zoning        2927 non-null   object
 3   Lot Frontage     2437 non-null   float64
 4   Lot Area         2927 non-null   int64
 5   Street           2927 non-null   object
 6   Alley            198 non-null    object
 7   Lot Shape        2927 non-null   object
 8   Land Contour     2927 non-null   object
 9   Utilities        2927 non-null   object
 10  Lot Config       2927 non-null   object
 11  Land Slope       2927 non-null   object
 12  Neighborhood     2927 non-null   object
 13  Condition 1      2927 non-null   object
 14  Condition 2      2927 non-null   object
 15  Bldg Type        2927 non-null   object
 16  House Style      2927 non-null   object
 17  Overall Qual     2927 non-null   int64
 18  Overall Cond     2927 non-null   int64
 19  Year Built       2927 non-null   int64
 20  Year Remod/Add   2927 non-null   int64
 21  Roof Style       2927 non-null   object
 22  Roof Matl        2927 non-null   object
 23  Exterior 1st     2927 non-null   object
 24  Exterior 2nd     2927 non-null   object
 25  Mas Vnr Type     2904 non-null   object
 26  Mas Vnr Area     2904 non-null   float64
 27  Exter Qual       2927 non-null   object
 28  Exter Cond       2927 non-null   object
 29  Foundation       2927 non-null   object
 30  Bsmt Qual        2847 non-null   object
 31  Bsmt Cond        2847 non-null   object
 32  Bsmt Exposure    2844 non-null   object
 33  BsmtFin Type 1   2847 non-null   object
 34  BsmtFin SF 1     2926 non-null   float64
 35  BsmtFin Type 2   2846 non-null   object
 36  BsmtFin SF 2     2926 non-null   float64
 37  Bsmt Unf SF      2926 non-null   float64
 38  Total Bsmt SF    2926 non-null   float64
 39  Heating          2927 non-null   object
 40  Heating QC       2927 non-null   object
 41  Central Air      2927 non-null   object
 42  Electrical       2926 non-null   object
 43  1st Flr SF       2927 non-null   int64
 44  2nd Flr SF       2927 non-null   int64
 45  Low Qual Fin SF  2927 non-null   int64
 46  Gr Liv Area      2927 non-null   int64
 47  Bsmt Full Bath   2925 non-null   float64
 48  Bsmt Half Bath   2925 non-null   float64
 49  Full Bath        2927 non-null   int64
 50  Half Bath        2927 non-null   int64
 51  Bedroom AbvGr    2927 non-null   int64
 52  Kitchen AbvGr    2927 non-null   int64
 53  Kitchen Qual     2927 non-null   object
 54  TotRms AbvGrd    2927 non-null   int64
 55  Functional       2927 non-null   object
 56  Fireplaces       2927 non-null   int64
 57  Fireplace Qu     1505 non-null   object
 58  Garage Type      2770 non-null   object
 59  Garage Yr Blt    2768 non-null   float64
 60  Garage Finish    2768 non-null   object
 61  Garage Cars      2926 non-null   float64
 62  Garage Area      2926 non-null   float64
 63  Garage Qual      2768 non-null   object
 64  Garage Cond      2768 non-null   object
 65  Paved Drive      2927 non-null   object
 66  Wood Deck SF     2927 non-null   int64
 67  Open Porch SF    2927 non-null   int64
 68  Enclosed Porch   2927 non-null   int64
 69  3Ssn Porch       2927 non-null   int64
 70  Screen Porch     2927 non-null   int64
 71  Pool Area        2927 non-null   int64
 72  Pool QC          12 non-null     object
 73  Fence            572 non-null    object
 74  Misc Feature     105 non-null    object
 75  Misc Val         2927 non-null   int64
 76  Mo Sold          2927 non-null   int64
 77  Yr Sold          2927 non-null   int64
 78  Sale Type        2927 non-null   object
 79  Sale Condition   2927 non-null   object
 80  SalePrice        2927 non-null   int64
dtypes: float64(11), int64(27), object(43)
memory usage: 1.8+ MB

In [6]:
df = df.drop(['PID'], axis=1)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2927 entries, 0 to 2926
Data columns (total 80 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MS SubClass      2927 non-null   int64
 1   MS Zoning        2927 non-null   object
 2   Lot Frontage     2437 non-null   float64
 3   Lot Area         2927 non-null   int64
 4   Street           2927 non-null   object
 5   Alley            198 non-null    object
 6   Lot Shape        2927 non-null   object
 7   Land Contour     2927 non-null   object
 8   Utilities        2927 non-null   object
 9   Lot Config       2927 non-null   object
 10  Land Slope       2927 non-null   object
 11  Neighborhood     2927 non-null   object
 12  Condition 1      2927 non-null   object
 13  Condition 2      2927 non-null   object
 14  Bldg Type        2927 non-null   object
 15  House Style      2927 non-null   object
 16  Overall Qual     2927 non-null   int64
 17  Overall Cond     2927 non-null   int64
 18  Year Built       2927 non-null   int64
 19  Year Remod/Add   2927 non-null   int64
 20  Roof Style       2927 non-null   object
 21  Roof Matl        2927 non-null   object
 22  Exterior 1st     2927 non-null   object
 23  Exterior 2nd     2927 non-null   object
 24  Mas Vnr Type     2904 non-null   object
 25  Mas Vnr Area     2904 non-null   float64
 26  Exter Qual       2927 non-null   object
 27  Exter Cond       2927 non-null   object
 28  Foundation       2927 non-null   object
 29  Bsmt Qual        2847 non-null   object
 30  Bsmt Cond        2847 non-null   object
 31  Bsmt Exposure    2844 non-null   object
 32  BsmtFin Type 1   2847 non-null   object
 33  BsmtFin SF 1     2926 non-null   float64
 34  BsmtFin Type 2   2846 non-null   object
 35  BsmtFin SF 2     2926 non-null   float64
 36  Bsmt Unf SF      2926 non-null   float64
 37  Total Bsmt SF    2926 non-null   float64
 38  Heating          2927 non-null   object
 39  Heating QC       2927 non-null   object
 40  Central Air      2927 non-null   object
 41  Electrical       2926 non-null   object
 42  1st Flr SF       2927 non-null   int64
 43  2nd Flr SF       2927 non-null   int64
 44  Low Qual Fin SF  2927 non-null   int64
 45  Gr Liv Area      2927 non-null   int64
 46  Bsmt Full Bath   2925 non-null   float64
 47  Bsmt Half Bath   2925 non-null   float64
 48  Full Bath        2927 non-null   int64
 49  Half Bath        2927 non-null   int64
 50  Bedroom AbvGr    2927 non-null   int64
 51  Kitchen AbvGr    2927 non-null   int64
 52  Kitchen Qual     2927 non-null   object
 53  TotRms AbvGrd    2927 non-null   int64
 54  Functional       2927 non-null   object
 55  Fireplaces       2927 non-null   int64
 56  Fireplace Qu     1505 non-null   object
 57  Garage Type      2770 non-null   object
 58  Garage Yr Blt    2768 non-null   float64
 59  Garage Finish    2768 non-null   object
 60  Garage Cars      2926 non-null   float64
 61  Garage Area      2926 non-null   float64
 62  Garage Qual      2768 non-null   object
 63  Garage Cond      2768 non-null   object
 64  Paved Drive      2927 non-null   object
 65  Wood Deck SF     2927 non-null   int64
 66  Open Porch SF    2927 non-null   int64
 67  Enclosed Porch   2927 non-null   int64
 68  3Ssn Porch       2927 non-null   int64
 69  Screen Porch     2927 non-null   int64
 70  Pool Area        2927 non-null   int64
 71  Pool QC          12 non-null     object
 72  Fence            572 non-null    object
 73  Misc Feature     105 non-null    object
 74  Misc Val         2927 non-null   int64
 75  Mo Sold          2927 non-null   int64
 76  Yr Sold          2927 non-null   int64
 77  Sale Type        2927 non-null   object
 78  Sale Condition   2927 non-null   object
 79  SalePrice        2927 non-null   int64
dtypes: float64(11), int64(26), object(43)
memory usage: 1.8+ MB

In [8]:
df = df.dropna(axis=0, subset=['Electrical', 'Garage Area'])

In [9]:
bsmt_num_cols = ['BsmtFin SF 1', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF', 'Bsmt Full Bath', 'Bsmt Half Bath']
df[bsmt_num_cols]=df[bsmt_num_cols].fillna(0)
bsmt_str_cols = ['Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin Type 2']
df[bsmt_str_cols] = df[bsmt_str_cols].fillna('None')

In [10]:
df['Mas Vnr Type'] = df['Mas Vnr Type'].fillna('None')

In [11]:
df['Mas Vnr Area'] = df['Mas Vnr Area'].fillna(0)

In [12]:
gar_str_cols = ['Garage Type', 'Garage Finish', 'Garage Qual', 'Garage Cond']

In [13]:
df[gar_str_cols] = df[gar_str_cols].fillna('None')

In [14]:
df['Garage Yr Blt']= df['Garage Yr Blt'].fillna(0)

In [15]:
df = df.drop(['Fence', 'Alley', 'Misc Feature', 'Pool QC'], axis=1)

In [16]:
df['Fireplace Qu'] = df['Fireplace Qu'].fillna('None')

In [17]:
df.groupby('Neighborhood')['Lot Frontage'].mean()

Neighborhood
Blmngtn    46.900000
Blueste    27.300000
BrDale     21.500000
BrkSide    55.789474
ClearCr    88.150000
CollgCr    71.336364
Crawfor    69.951807
Edwards    64.794286
Gilbert    74.207207
Greens     41.000000
GrnHill          NaN
IDOTRR     62.383721
Landmrk          NaN
MeadowV    25.606061
Mitchel    75.144444
NAmes      75.210667
NPkVill    28.142857
NWAmes     81.517647
NoRidge    91.629630
NridgHt    84.184049
OldTown    61.777293
SWISU      59.068182
Sawyer     74.551020
SawyerW    70.669811
Somerst    64.549383
StoneBr    62.173913
Timber     81.303571
Veenker    72.000000
Name: Lot Frontage, dtype: float64

In [18]:
df['Lot Frontage']=df.groupby('Neighborhood')['Lot Frontage'].transform(lambda value: value.fillna(value.mean()))

In [19]:
df['Lot Frontage']=df['Lot Frontage'].fillna(0)

In [20]:
df['MS SubClass'] = df['MS SubClass'].apply(str)

In [21]:
df.select_dtypes(include='object')

,MS SubClass,MS Zoning,Street,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,...,Kitchen Qual,Functional,Fireplace Qu,Garage Type,Garage Finish,Garage Qual,Garage Cond,Paved Drive,Sale Type,Sale Condition
0,20,RL,Pave,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,TA,Typ,Gd,Attchd,Fin,TA,TA,P,WD,Normal
1,20,RH,Pave,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Feedr,...,TA,Typ,None,Attchd,Unf,TA,TA,Y,WD,Normal
2,20,RL,Pave,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Gd,Typ,None,Attchd,Unf,TA,TA,Y,WD,Normal
3,20,RL,Pave,Reg,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Ex,Typ,TA,Attchd,Fin,TA,TA,Y,WD,Normal
4,60,RL,Pave,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,...,TA,Typ,TA,Attchd,Fin,TA,TA,Y,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2922,80,RL,Pave,IR1,Lvl,AllPub,CulDSac,Gtl,Mitchel,Norm,...,TA,Typ,None,Detchd,Unf,TA,TA,Y,WD,Normal
2923,20,RL,Pave,IR1,Low,AllPub,Inside,Mod,Mitchel,Norm,...,TA,Typ,None,Attchd,Unf,TA,TA,Y,WD,Normal
2924,85,RL,Pave,Reg,Lvl,AllPub,Inside,Gtl,Mitchel,Norm,...,TA,Typ,None,None,None,None,None,Y,WD,Normal
2925,20,RL,Pave,Reg,Lvl,AllPub,Inside,Mod,Mitchel,Norm,...,TA,Typ,TA,Attchd,RFn,TA,TA,Y,WD,Normal
2926,60,RL,Pave,Reg,Lvl,AllPub,Inside,Mod,Mitchel,Norm,...,TA,Typ,TA,Attchd,Fin,TA,TA,Y,WD,Normal

In [23]:
my_object_df = df.select_dtypes(include='object')
my_numeric_df = df.select_dtypes(exclude='object')

In [24]:
df_objects_dummies = pd.get_dummies(my_object_df, drop_first=True)

In [26]:
df_objects_dummies

,MS SubClass_150,MS SubClass_160,MS SubClass_180,MS SubClass_190,MS SubClass_20,MS SubClass_30,MS SubClass_40,MS SubClass_45,MS SubClass_50,MS SubClass_60,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2922,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2923,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2924,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2925,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2926,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0

In [27]:
final_df = pd.concat([my_numeric_df, df_objects_dummies], axis=1)

In [28]:
final_df

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,141.000000,31770,6,5,1960,1960,112.0,639.0,0.0,441.0,...,0,0,0,0,1,0,0,0,1,0
1,80.000000,11622,5,6,1961,1961,0.0,468.0,144.0,270.0,...,0,0,0,0,1,0,0,0,1,0
2,81.000000,14267,6,6,1958,1958,108.0,923.0,0.0,406.0,...,0,0,0,0,1,0,0,0,1,0
3,93.000000,11160,7,5,1968,1968,0.0,1065.0,0.0,1045.0,...,0,0,0,0,1,0,0,0,1,0
4,74.000000,13830,5,5,1997,1998,0.0,791.0,0.0,137.0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2922,37.000000,7937,6,6,1984,1984,0.0,819.0,0.0,184.0,...,0,0,0,0,1,0,0,0,1,0
2923,75.144444,8885,5,5,1983,1983,0.0,301.0,324.0,239.0,...,0,0,0,0,1,0,0,0,1,0
2924,62.000000,10441,5,5,1992,1992,0.0,337.0,0.0,575.0,...,0,0,0,0,1,0,0,0,1,0
2925,77.000000,10010,5,5,1974,1975,0.0,1071.0,123.0,195.0,...,0,0,0,0,1,0,0,0,1,0
2926,74.000000,9627,7,5,1993,1994,94.0,758.0,0.0,238.0,...,0,0,0,0,1,0,0,0,1,0